<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Microgrid Customer Segmentation</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <script src="https://use.fontawesome.com/8f66eee967.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- For debugging purposes -->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- Custom styles for this template -->
    <link href="../static/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <a class="navbar-brand" href="#">Customer Segmentation</a> -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#clusters">Results</a></li>
                <li><a href="#graphics">Graphics</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="http://www.homerenergy.com/" target="_blank">HOMER Energy</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Indicators -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol> -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="../static/img/solarpanels.jpg" alt=""/>
          <div class="container">
            <div class="carousel-caption">
              <h1>Microgrid Customer Segmentation</h1>
              <p>A research project in collaboration with HOMER Energy using machine learning techniques to segment customers and gather business intelligence.</p>
              <p>HOMER Energy is a world leader in accurately modeling microgrid optimization, and its software allows users to understand how to build cost effective and reliable microgrids that combine traditionally generated and renewable power, storage, and load management.</p>
              <p><a class="btn btn-lg btn-primary" href="http://www.homerenergy.com/" target="_blank" role="button">Check out HOMER</a></p>
            </div>
          </div>
        </div>
        <!-- <div class="item">
          <img src="../static/img/solarpanels.jpg" alt=""/>
          <div class="container">
            <div class="carousel-caption">
              <h1>Data Science at Galvanize</h1>
              <p>Learn more about how Galvanize's immersive educaiton program prepares students to tackle tough business and research challenges with data science.</p>
              <p><a class="btn btn-lg btn-primary" href="https://www.galvanize.com/denver-golden-triangle/data-science" role="button">Check out galvanize</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/img/solarpanels.jpg" alt=""/>
          <div class="container">
            <div class="carousel-caption">
              <h1>What is Clustering?</h1>
              <p>Most statistical learning problems are supervised, meaning from a set of observation we are trying to predict a known outcome or target. However, when a target is unavailable, we are faced with an <i>unsupervised</i> problem. Enter clustering algorithms... </p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
    </div><!-- /.carousel -->

    <hr class="featurette-divider">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <i class="fa fa-compass" style="font-size:80px" aria-hidden="true"></i>
          <h2>Project Overview</h2>
          <p>Understand the genesis of this project, what it hoped to accomplish, and where we go from here.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="fa fa-line-chart" style="font-size:80px" aria-hidden="true"></i>
          <h2>Results!</h2>
          <p>Read the customer profiles developed as a result of the project's results and see other visualizations created.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="fa fa-cogs" style="font-size:80px" aria-hidden="true"></i>
          <h2>Technology Stack</h2>
          <p>Find out what technologies and software packages were used to create this project.</p>
          <p><a class="btn btn-default" href="#tech stack" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Data Science at Galvanize. <span class="text-muted">Hang on for dear life.</span></h2>
          <p class="lead">Learn more about how Galvanize's immersive education program prepares students to tackle tough business and research challenges with data science.</p>
          <p><a class="btn btn-default" href="https://www.galvanize.com/denver-golden-triangle/data-science" target="_blank" role="button">Check out Galvanize &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="../static/img/galvanize.jpg" alt="Galvanize" style="width:550px;height:325px";>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, I've got pretty plots too. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Check out the plots, charts, and maps used to better understand HOMER Energy's software users and extract meaningful business intelligence.</p>
          <p><a class="btn btn-default" href="#" role="button">See the plots &raquo;</a></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="../static/img/east_coast.png" alt="US Heatmap" style="width:550px;height:300px";>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Clustering...<span class="text-muted">what is it exactly?</span></h2>
          <p class="lead">Most statistical learning problems are supervised, meaning from a set of observation we are trying to predict a known outcome or target. However, when a target is unavailable, we are faced with an <i>unsupervised</i> problem and clustering can be our friend.</p>
          <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="../static/img/cluster_plot.png" alt="Cluster Plots" style="width:550px;height:400px";>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <selction id="tech stack">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Technology Stack</h2>
            <p class="lead">The following software packages and technologies were used in this project.</p>
          </div>
        </div>

      <hr class="featurette-divider">

      <section id="contact">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Contact Me</h2>
            <p class="lead">Please feel free to contact me with questions or comments. You can also check out my GitHub repo for a more in-depth look at the code developed for this project.</p>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <i class="fa fa-linkedin-square" style="font-size:50px" aria-hidden="true"></i>
              <p><a style='color:black' href="http://linkedin.com/in/stuart-d-king" target="_blank">linkedin.com</a></p>
            </div>
            <div class="col-lg-4">
              <i class="fa fa-envelope" style="font-size:45px" aria-hidden="true"></i>
              <p><a style="color:black" href="mailto:sdking49@gmail.com">sdking49@gmail.com</a></p>
            </div>
            <div class="col-lg-4">
              <i class="fa fa-github" style="font-size:50px" aria-hidden="true"></i>
              <p><a style="color:black" href="https://github.com/stuart-d-king/homer_segmentation" target="_blank">Github Repo</a></p>
            </div>
          </div>
        </div>
      </section>

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Stuart King &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../static/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
